@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
html, body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.first-page {
  background-image: url('./img/firstPageBg.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.second-page {
  background-image: url('./img/secondPageBg.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.letter-wrapper {
  max-width: 40.625rem;
  width: 90%;
  background: rgba(255, 255, 255, 0.9);
  max-height: 45rem;
  transition: all 0.3s ease-in-out;
  margin-left: 6.25rem;
  padding: 3rem;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.48);
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.letter-wrapper:hover {
  transform: scale(1.01);
}


.letter-wrapper h2 {
  margin-bottom: 0.625rem;
}

.letter-text {
  margin-top: 0;
  font-family: "PT Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 2.1875rem;
  line-height: 46px;
  color: rgba(0, 0, 0, 0.48);
  margin-bottom: 10px;
}

.small-text {
  font-size: 25px;
  line-height: 35px;
  transition: all 0.3s ease-in-out;
}

.text-left {
  text-align: left;
}

.timer-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  border: 1px solid #ddd;
}

.timer {
  font-family: 'Source Code Pro', monospace;
  width: 100%;
  text-align: center;
}

.Cursor {
  display: none;
}

.hidden {
  opacity: 0;
  position: absolute;
  transform: translateY(5rem);
  transition: all 0.3s ease-in-out;
}

.showed {
  position: relative;
  opacity: 1;
  transform: translateY(0);
}

.tooltip {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 1.5rem;
  margin-bottom: 0;
  margin-top: 1rem;
}

.info-link {
  color: #a7c393;
}

.zoom-link-header {
  margin: 0;
  text-align: center;
  font-size: 1.625rem;
}

.zoom-link-wrap {
  width: 100%;
  margin: 0;
}

.zoom-link-wrap p {
  margin: 0;
}

.info-wrapper {
  width: 90%;
  max-width: 45rem;
  background: rgba(255, 255, 255, 0.6);
  color: rgba(0,0,0,0.7);
  padding: 2rem;
  box-shadow: 1px 1px 15px #bbb;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  font-family: "PT Serif";
  overflow-y: scroll;
}

.missing-id {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3rem;
}

.missing-id p {
  font-size: 1.3125rem;
  padding: 0.5rem;
  border: 1px solid #000;
  margin: 0 auto;
}

.text-right {
  text-align: right;
}

.countdown-text {
  font-size: 1.3rem;
}

@media (max-width: 576px) {
  .first-page {
    background-image: url('./img/firstPageBgMob.png');
  }
  .second-page {
    background-image: url('./img/secondPageBgMob.png');
  }
  .letter-wrapper {
    padding: 1.5rem;
    margin-left: 1rem;
    left: 50%;
    margin-left: 0;
    overflow-y: scroll;
  }
  .letter-text {
    font-size: 1.375rem;
    margin-bottom: 0.625rem;
  }
  .small-text, .tooltip {
    font-size: 1rem;
    line-height: 1.75rem;
  }
  .first-page {
    padding-top: 2rem;
    align-items: flex-start;
    justify-content: center;
  }
  .tooltip {
    font-size: 1rem;
  }
  .second-page {
    align-items: flex-start;
    justify-content: center;
    padding: 2rem 0;
  }
}